DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=web
DB_PASSWORD=webweb12345
DB_NAME=CvCompany
DB_SYNCHRONIZE=false
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_ENABLE_ARITH_ABORT=true